<div class="social-buttons">
  <span class='st_sharethis_hcount' displayText='ShareThis'></span>

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "75444894-2bd1-45a0-9f7b-03a2c405ef42", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</div>