/* clearfix */
.clearfix{zoom:1;}
.clearfix:after{content:'.';display:block;clear:both;visibility:hidden;height:0;font-size:0;}

html {
  font-family: "Helvertica", Arial, sans-serif;
}

a {
  color:#3791cf;
  text-decoration:none;
  &:hover {
    text-decoration:underline;
  }
}

.clear-all {
  clear:both;
}

#admin-bar {
  padding:10px 0;
  background:#000000;
  text-align:right;

  a {
    margin-right:10px;
    padding:5px 10px;
    color:#FFFFFF;
    background:#777777;
    line-height:30px;
    border:2px solid #777777;
    &:hover {
      text-decoration:none;
      border:2px solid #FFFFFF;
    }
  }
}

#header{
    background: #000;
    height: 90px;
    border-bottom: 5px solid #d7d7d7;
    .container{
        width: 980px;
        margin: 0 auto;
    }
    #logo{
        float: left;
        width: 284px;
        height: 45px;
        background: image-url('cms/resumegenius/bg_logo.png') no-repeat;
        text-indent: -9999px;
        margin: 25px 0 0 0;
    }
    .navigation{
        float: right;
        a{
            float: left;
            height: 90px;
            line-height: 90px;
            padding: 0 20px;
            color: #fff;
            &:hover{
                background: #eaeaea;
                color: #82ba0d;
                text-decoration: none;
                border-bottom: 5px solid #82ba0d;
            }
        }
    }
}

#container {
  margin: 0 auto;
  padding: 20px 0 10px;
  width: 980px;

  #main {
    float: left;
    padding-bottom: 20px;
    width: 640px;

    .default-title {
      margin-bottom:15px;
      h1 {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}

#footer {
  background: #53A10D;
  border-top: 1px solid #4A8107;
  padding: 25px 0 15px;
  .nav-footer{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    li{
      border-right: 1px solid #FFF;
      padding: 0 10px;
      display: inline;
      line-height: 1.8;
      font-size: 13px;
      a{
        color: #fff;
      }
    }
  }
  #nav-social{
    width: 980px;
    margin: 10px auto;
    text-align: center;
    li{
      display: inline;
      margin: 0 10px 0 0;
    }
  }
  #company-name{
    width: 980px;
    margin: 10px auto;
    text-align: center;
    color: #333;
    line-height: 1.5;
    font-size: 10px;
  }
}
